@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@300;400;500;700;800&family=Open+Sans&display=swap");
html {
  font-size: 18px;
}
@media screen and (max-width: 768px) {
  html {
    font-size: 17px;
  }
}
@media screen and (max-width: 480px) {
  html {
    font-size: 16px;
  }
}

html,
body {
  height: 100%;
}

body {
  font-family: "Alegreya Sans", Arial, Helvetica, sans-serif;
  line-height: 1.42;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  color: #666666;
}

.wrapper {
  position: relative;
  width: 100%;
  min-height: 100%;
  overflow: hidden;
}

.container {
  width: 95%;
  max-width: 940px;
  margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  font-weight: normal;
  margin-bottom: 0;
}

table {
  border-collapse: collapse;
}

ul {
  padding: 0;
  margin: 0;
}
ul li {
  list-style: none;
}

p {
  padding: 0;
  margin: 0;
}

footer {
  position: relative;
  width: 100%;
}

* {
  box-sizing: border-box;
}

a {
  color: inherit;
}

img {
  display: block;
  max-width: 100%;
}

.hero {
  background: url("../img/bg/big_leaf.png") right bottom no-repeat;
  background-color: #86c3d7;
  height: 100vh;
  min-height: 36.1111111111rem;
  color: #fff;
  position: relative;
}
@media screen and (max-width: 768px) {
  .hero {
    background-position: right bottom 88%;
  }
}
@media screen and (max-width: 768px) {
  .hero:before, .hero:after {
    display: none;
  }
}
.hero:before {
  content: url("../img/decor/leaf3.png");
  position: absolute;
  bottom: -2.2222222222rem;
  left: 2%;
}
.hero:after {
  content: url("../img/decor/berries_leafs.png");
  position: absolute;
  bottom: -2.2222222222rem;
  right: 0;
}

.hero__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding-top: 1.3333333333rem;
  padding-bottom: 2.8333333333rem;
  background: url("../img/decor/chocolate.png") right center/50% auto no-repeat;
}
@media screen and (max-width: 768px) {
  .hero__container {
    background: none;
  }
}

.hero__title-section {
  width: 46%;
}
@media screen and (max-width: 768px) {
  .hero__title-section {
    width: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .hero__title-section:before {
    content: "";
    width: 17.5555555556rem;
    height: 18.3333333333rem;
    margin-bottom: 16px;
    background: url("../img/decor/berry_chocco_tablets.png") center center/contain no-repeat;
  }
}

.hero__main-title {
  font-size: 2.6666666667rem;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1.2;
  margin-bottom: 1.2777777778rem;
}

.hero__title-desc {
  font-family: "Alegreya Sans";
  font-size: 1.1666666667rem;
  font-weight: 400;
  margin-bottom: 3.1111111111rem;
  padding-right: 10%;
  line-height: 1.2;
}
@media screen and (max-width: 768px) {
  .hero__title-desc {
    padding: 0 26%;
  }
}
@media screen and (max-width: 480px) {
  .hero__title-desc {
    padding: 0 16%;
  }
}

@media screen and (max-width: 768px) {
  .hero__icons-section {
    display: none;
  }
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.menu {
  display: flex;
  align-items: center;
  margin: 0 1.6666666667rem;
  padding-top: 5px;
}
@media screen and (max-width: 768px) {
  .menu {
    display: none;
  }
}

.menu__list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}

.menu__item {
  margin-right: 1.5555555556rem;
  margin-bottom: 10px;
}
.menu__item:last-child {
  margin-right: 0;
}

.menu__link {
  text-decoration: none;
  white-space: nowrap;
}

.phone-number {
  display: flex;
  align-items: center;
  font-size: 1.3333333333rem;
  text-decoration: none;
}

@media screen and (max-width: 768px) {
  .phone-number.header__phone-number {
    display: none;
  }
}

.phone-number__icon-elem {
  width: 0.6666666667rem;
  height: 0.6111111111rem;
  margin-right: 0.3333333333rem;
  fill: #ffffff;
}

.phone-number__text {
  white-space: nowrap;
}

.phone-number__icon {
  flex-shrink: 0;
}

.features {
  display: flex;
}

.features__item {
  margin-right: 2.5555555556rem;
}
.features__item:last-child {
  margin-right: 0;
  margin-left: -0.8333333333rem;
}

.feature {
  display: flex;
}

.feature__icon {
  width: 2.5rem;
  height: 2.2777777778rem;
  margin-right: 0.3888888889rem;
  fill: #c6f7ff;
}

.feature__text {
  font-size: 0.8888888889rem;
  max-width: 4.7222222222rem;
}

.btn {
  padding: 1.3333333333rem 1.8888888889rem 1.2222222222rem 1.9444444444rem;
  font-size: 1.0555555556rem;
  font-weight: bold;
  text-transform: uppercase;
  border-radius: 5.5555555556rem;
  text-decoration: none;
  line-height: 1;
  border: none;
  display: inline-flex;
}
.btn-theme-white {
  background: #fff;
  color: #365a49;
}
.btn-theme-white:hover {
  background: #365a49;
  color: #fff;
}
.btn-theme-green {
  background: #365a49;
  color: #fff;
}
.btn-theme-green:hover {
  background: #fff;
  color: #365a49;
}
.btn-theme-transparent {
  background: transparent;
  color: #000;
  text-transform: none;
}
.btn-theme-transparent:hover {
  color: #365a49;
  background: transparent;
}

.section {
  height: 100vh;
  min-height: 36.1111111111rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.section--font--color--green {
  color: #365a49;
}

.section__title {
  font-size: 2.6666666667rem;
  font-weight: bold;
  margin-bottom: 3.3333333333rem;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}

.preference {
  text-align: center;
  margin-bottom: 3.1666666667rem;
}

.preference__title {
  margin-bottom: 1.3888888889rem;
}

.preference__title-desc {
  padding: 0 26%;
}
@media screen and (max-width: 480px) {
  .preference__title-desc {
    padding: 0 10%;
  }
}

.benefit {
  text-align: center;
}
@media screen and (max-width: 480px) {
  .benefit {
    text-align: start;
  }
}

.benefit__image-wrapper {
  display: inline-block;
  width: 7rem;
  height: 7rem;
  position: relative;
  background: #f2f5f4;
  border-radius: 50%;
  overflow: hidden;
}

.benefit-icon {
  width: 4.1666666667rem;
  height: 3.8333333333rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.benefit__image {
  margin-bottom: 1.9444444444rem;
}

.benefit__title {
  color: #000000;
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 1.6666666667rem;
}
@media screen and (max-width: 480px) {
  .benefit__title {
    margin-bottom: 0.2777777778rem;
  }
}

@media screen and (max-width: 480px) {
  .benefit__text {
    padding-right: 11%;
    margin-left: 0.7777777778rem;
  }
}

.benefits {
  display: flex;
}
@media screen and (max-width: 480px) {
  .benefits {
    flex-direction: column;
  }
}

.benefits__item {
  flex: 1;
  padding: 0 3%;
  position: relative;
}
@media screen and (max-width: 480px) {
  .benefits__item {
    display: flex;
    padding: 0;
    margin-bottom: 40px;
  }
  .benefits__item:before {
    display: none;
  }
}
.benefits__item:before {
  content: url("../img/decor/sepator.png");
  position: absolute;
  top: 1.6666666667rem;
  right: 0;
  transform: translateX(50%);
}
.benefits__item:first-child {
  padding-left: 0;
}
.benefits__item:last-child {
  padding-right: 0;
}
.benefits__item:last-child:before {
  display: none;
}

.benefits-section {
  position: relative;
  background: url("../img/decor/leaf-white.png") no-repeat left top 57%;
}
@media screen and (max-width: 768px) {
  .benefits-section {
    background-position: left top 6%;
  }
}
@media screen and (max-width: 480px) {
  .benefits-section {
    background: none;
  }
  .benefits-section:before {
    display: none;
  }
}
.benefits-section:before {
  position: absolute;
  left: 0;
  bottom: -6.6666666667rem;
  content: url("../img/decor/raspberry.png");
}

.reviews__section {
  position: relative;
}
.reviews__section:before {
  content: url("../img/decor/berries_leafs2.png");
  position: absolute;
  bottom: -13.5rem;
  left: 0;
  z-index: 100;
}
.reviews__section:after {
  content: url("../img/decor/strawberry.png");
  position: absolute;
  top: 4rem;
  right: 7.6111111111rem;
}
@media screen and (max-width: 768px) {
  .reviews__section:before {
    bottom: -8.6666666667rem;
    left: -1.5555555556rem;
  }
  .reviews__section:after {
    top: 0;
    right: -1.6666666667rem;
  }
}

.reviews {
  position: relative;
}
.reviews:after {
  content: url("../img/decor/bg_pattern.png");
  position: absolute;
  top: 0;
  right: 0;
}

.reviews__display {
  background: #f8faf9;
  padding: 2.7777777778rem 2.5rem 1.8888888889rem;
}
.reviews__display:before {
  content: "";
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  display: block;
  background: #fff;
  position: absolute;
  top: -3.6111111111rem;
  left: 50%;
  transform: translateX(-50%);
}

.reviews__display-inner {
  display: flex;
}
@media screen and (max-width: 768px) {
  .reviews__display-inner {
    flex-direction: column;
    align-items: center;
  }
}

.reviews__avatar {
  width: 13.6111111111rem;
  height: 14.4444444444rem;
}
@media screen and (max-width: 768px) {
  .reviews__avatar {
    display: none;
  }
}

.reviews__avatar-img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.reviews__content {
  flex: 1;
  margin-left: 1.1111111111rem;
  padding-right: 7.7777777778rem;
}
@media screen and (max-width: 768px) {
  .reviews__content {
    margin-left: 0;
    padding-right: 0;
    text-align: center;
  }
  .reviews__content:before {
    content: url("../img/decor/orrange_girl_tablets.png");
  }
}

.reviews__title {
  font-size: 1.6666666667rem;
  font-weight: bold;
  margin-bottom: 1.2222222222rem;
  color: black;
}

.reviews__author {
  font-size: 1rem;
  font-weight: bold;
  color: black;
  margin-top: 1.7777777778rem;
}

.reviews__switcher {
  display: flex;
  justify-content: center;
  margin-top: 1.5rem;
}

.reviews__switcher-item {
  margin-right: 0.6111111111rem;
}

.reviews__text {
  line-height: 1.2;
}
@media screen and (max-width: 480px) {
  .reviews__text {
    padding: 0 5%;
  }
}

.interactive-avatar {
  width: 4.4444444444rem;
  height: 4.4444444444rem;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
  border: 0.3333333333rem solid transparent;
}

.interactive-avatar--active {
  border: 0.3333333333rem solid #0f5a47;
}

.interactive-avatar__link {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: block;
}

.interactive-avatar__img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.order-section {
  background: url("../img/bg/bg_delivery.png");
  height: 100vh;
  min-height: 36.1111111111rem;
  position: relative;
}
.order-section:before {
  content: url("../img/decor/leaf_delivery.png");
  position: absolute;
  right: 0.2777777778rem;
  bottom: 2.2222222222rem;
}
.order-section:after {
  content: url("../img/decor/blueberries.png");
  position: absolute;
  left: 0.2777777778rem;
  bottom: 2.2222222222rem;
}
@media screen and (max-width: 768px) {
  .order-section:before, .order-section:after {
    display: none;
  }
}

.order-title {
  color: #365a49;
  margin-bottom: 3rem;
}

.form {
  display: flex;
}
@media screen and (max-width: 768px) {
  .form {
    flex-direction: column;
    padding: 0px 20%;
  }
}
@media screen and (max-width: 480px) {
  .form {
    padding: 0;
  }
}

.form__col {
  flex: 1;
  margin-right: 1.1111111111rem;
}
.form__col:last-child {
  margin-right: 0;
}
@media screen and (max-width: 768px) {
  .form__col {
    margin-right: 0;
  }
}

.form__row {
  display: flex;
  margin-bottom: 1rem;
}

.form__block {
  flex: 1;
  margin-right: 1.1111111111rem;
}
.form__block:last-child {
  margin-right: 0rem;
}

.form__input {
  width: 100%;
  border: none;
  padding: 1rem 0.6111111111rem;
  border: solid 3px transparent;
}
.form__input--textarea {
  height: 10rem;
  resize: none;
}
.form__input:focus {
  border-color: #dee2bd;
  outline: none;
}
@media screen and (max-width: 768px) {
  .form__input {
    padding: 0.6111111111rem 0.6111111111rem;
  }
  .form__input--textarea {
    height: 4.4444444444rem;
  }
}

.form__controls {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 0.7222222222rem;
}
.form__controls:last-child {
  margin-bottom: 0;
}
@media screen and (max-width: 480px) {
  .form__controls {
    justify-content: center;
  }
}

.form__btns {
  margin-top: 2.3333333333rem;
}
@media screen and (max-width: 768px) {
  .form__btns {
    display: flex;
    justify-content: center;
  }
}

.radio {
  display: flex;
  cursor: pointer;
  -webkit-user-select: none;
          user-select: none;
  margin-right: 1.2777777778rem;
}
.radio:last-child {
  margin-right: 0;
}
.radio--checkbox .radio__visible {
  border-radius: 0;
}
.radio--checkbox .radio__visible::before {
  background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 10.9 8.7' d='M10.3,0.6L10.3,0.6C9.6-0.2,8.4-0.2,7.7,0.5L4,4.2L3.2,3.4c-0.7-0.7-1.9-0.7-2.6,0L0.5,3.4c-0.7,0.7-0.7,1.9,0,2.6l2.2,2.2C3.1,8.6,3.6,8.7,4,8.7c0.5,0,0.9-0.2,1.3-0.5l5-5C11,2.5,11,1.3,10.3,0.6z'>") center center no-repeat;
}

.radio__elem {
  display: none;
}
.radio__elem:checked ~ .radio__visible:before {
  display: block;
}

.radio__visible {
  width: 1.4444444444rem;
  height: 1.4444444444rem;
  position: relative;
  border-radius: 50%;
  background: #fff;
}
.radio__visible:before {
  content: "";
  width: 0.7777777778rem;
  height: 0.7777777778rem;
  background: #365a49;
  border-radius: 50%;
  position: absolute;
  display: none;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.radio__title {
  margin-left: 0.5555555556rem;
}

.fixed-menu {
  position: fixed;
  top: 20%;
  right: 3%;
  z-index: 100;
}

.fixed-menu__item {
  margin-bottom: 0.2777777778rem;
}
.fixed-menu__item--active .fixed-menu__link {
  border-color: #fff;
}

.fixed-menu__link {
  display: block;
  width: 0.8888888889rem;
  height: 0.8888888889rem;
  border-radius: 50%;
  position: relative;
  border: 0.0555555556rem solid transparent;
}
.fixed-menu__link:before {
  content: "";
  width: 0.3333333333rem;
  height: 0.3333333333rem;
  background: #fff;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.hamburger {
  width: 24px;
  height: 20px;
  flex-direction: column;
  justify-content: space-between;
  display: none;
}
@media screen and (max-width: 768px) {
  .hamburger {
    display: inline-flex;
  }
}

.hamburger__plank {
  display: block;
  background: #fff;
  height: 4px;
  border-radius: 10px;
}

.map {
  background: url("../img/bg/map.jpg") center center/100% no-repeat;
  height: 100%;
}

.footer {
  height: 100vh;
  min-height: 650px;
}

.contacts {
  display: flex;
  justify-content: space-between;
  margin-top: 1.4444444444rem;
}
@media screen and (max-width: 480px) {
  .contacts {
    flex-direction: column;
    align-items: center;
  }
}

.address {
  font-size: 1.1666666667rem;
  columns: #000000;
}

.phone-number--theme--green {
  color: #365a49;
}

.phone-number__icon-elem--theme--green {
  fill: #365a49;
}

@media screen and (max-width: 480px) {
  .footer__phone-number {
    padding: 0 18%;
  }
}

.socials__list {
  display: flex;
  align-items: center;
}

.socials__item {
  margin-right: 1.1111111111rem;
}

.socials__icon {
  width: 1rem;
  height: 1rem;
  opacity: 0.3;
}
.socials__icon:hover {
  opacity: 1;
}