@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@300;400;500;700;800&family=Open+Sans&display=swap");
html,
body {
  height: 100%;
}

body {
  font-size: 18px;
  font-family: "Alegreya Sans", Arial, Helvetica, sans-serif;
  line-height: 1.42;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  color: #666666;
}

.wrapper {
  position: relative;
  width: 100%;
  min-width: 960px;
  min-height: 100%;
  overflow: hidden;
}

.container {
  width: 940px;
  margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  font-weight: normal;
  margin-bottom: 0;
}

table {
  border-collapse: collapse;
}

ul {
  padding: 0;
  margin: 0;
}
ul li {
  list-style: none;
}

p {
  padding: 0;
  margin: 0;
}

footer {
  position: relative;
  width: 100%;
}

* {
  box-sizing: border-box;
}

a {
  color: inherit;
}

img {
  display: block;
  max-width: 100%;
}

.hero {
  background: url("../img/bg/big_leaf.png") right bottom no-repeat;
  background-color: #86c3d7;
  height: 100vh;
  min-height: 650px;
  color: #fff;
  position: relative;
}
.hero:before {
  position: absolute;
  bottom: -40px;
  left: 2%;
  content: url("../img/decor/leaf3.png");
}
.hero:after {
  position: absolute;
  bottom: -40px;
  right: 0;
  content: url("../img/decor/berries_leafs.png");
}

.hero__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding-top: 24px;
  padding-bottom: 51px;
  background: url("../img/decor/chocolate.png") right center/50% auto no-repeat;
}

.hero__title-section {
  width: 46%;
}

.hero__main-title {
  font-size: 48px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1.2;
  margin-bottom: 23px;
}

.hero__title-desc {
  font-family: "Alegreya Sans";
  font-size: 21px;
  font-weight: 400;
  margin-bottom: 56px;
  padding-right: 10%;
  line-height: 1.2;
}

.header {
  display: flex;
  justify-content: space-between;
}

.menu {
  display: flex;
  align-items: center;
}

.menu__list {
  display: flex;
  align-items: center;
}

.menu__item {
  margin-right: 28px;
}
.menu__item:last-child {
  margin-right: 0;
}

.menu__link {
  text-decoration: none;
}

.phone-number {
  display: flex;
  align-items: center;
  font-size: 24px;
  text-decoration: none;
}

.phone-number__icon-elem {
  width: 12px;
  height: 11px;
  margin-right: 6px;
}

.features {
  display: flex;
}

.features__item {
  margin-right: 46px;
}
.features__item:last-child {
  margin-right: 0;
  margin-left: -15px;
}

.feature {
  display: flex;
}

.feature__icon {
  width: 45px;
  margin-right: 7px;
}

.feature__text {
  font-size: 16px;
  max-width: 85px;
}

.btn {
  padding: 24px 34px 22px 35px;
  font-size: 19px;
  font-weight: bold;
  text-transform: uppercase;
  border-radius: 100px;
  text-decoration: none;
  line-height: 1;
  border: none;
  display: inline-flex;
}
.btn-theme-white {
  background: #fff;
  color: #365a49;
}
.btn-theme-white:hover {
  background: #365a49;
  color: #fff;
}
.btn-theme-green {
  background: #365a49;
  color: #fff;
}
.btn-theme-green:hover {
  background: #fff;
  color: #365a49;
}
.btn-theme-transparent {
  background: transparent;
  color: #000;
  text-transform: none;
}
.btn-theme-transparent:hover {
  color: #365a49;
  background: transparent;
}

.section {
  height: 100vh;
  min-height: 650px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.section--font--color--green {
  color: #365a49;
}

.section__title {
  font-size: 48px;
  font-weight: bold;
  margin-bottom: 60px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}

.preference {
  text-align: center;
  margin-bottom: 57px;
}

.preference__title {
  margin-bottom: 25px;
}

.preference__title-desc {
  padding: 0 26%;
}

.benefit {
  text-align: center;
}

.benefit__image-wrapper {
  display: inline-block;
  width: 126px;
  height: 126px;
  position: relative;
  background: #f2f5f4;
  border-radius: 50%;
  overflow: hidden;
}

.benefit-icon {
  width: 75px;
  height: 69px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.benefit__image {
  margin-bottom: 35px;
}

.benefit__title {
  color: #000000;
  font-size: 27px;
  font-weight: 700;
  margin-bottom: 30px;
}

.benefits {
  display: flex;
}

.benefits__item {
  flex: 1;
  padding: 0 3%;
  position: relative;
}
.benefits__item:before {
  content: url("../img/decor/sepator.png");
  position: absolute;
  top: 30px;
  right: 0;
  transform: translateX(50%);
}
.benefits__item:first-child {
  padding-left: 0;
}
.benefits__item:last-child {
  padding-right: 0;
}
.benefits__item:last-child:before {
  display: none;
}

.benefits-section {
  position: relative;
  background: url("../img/decor/leaf-white.png") no-repeat left top 57%;
}
.benefits-section:before {
  position: absolute;
  left: 0;
  bottom: -120px;
  content: url("../img/decor/raspberry.png");
}

.reviews__section {
  position: relative;
}
.reviews__section:before {
  content: url("../img/decor/berries_leafs2.png");
  position: absolute;
  bottom: -243px;
  left: 0;
}
.reviews__section:after {
  content: url("../img/decor/strawberry.png");
  position: absolute;
  top: 72px;
  right: 137px;
}

.reviews {
  position: relative;
}
.reviews:after {
  content: url("../img/decor/bg_pattern.png");
  position: absolute;
  top: 0;
  right: 0;
}

.reviews__display {
  background: #f8faf9;
  padding: 50px 45px 34px;
}
.reviews__display:before {
  content: "";
  width: 90px;
  height: 90px;
  border-radius: 50%;
  display: block;
  background: #fff;
  position: absolute;
  top: -65px;
  left: 50%;
  transform: translateX(-50%);
}

.reviews__display-inner {
  display: flex;
}

.reviews__avatar {
  width: 245px;
  height: 260px;
}

.reviews__avatar-img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.reviews__content {
  flex: 1;
  margin-left: 20px;
  padding-right: 140px;
}

.reviews__title {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 22px;
  color: black;
}

.reviews__author {
  font-size: 18px;
  font-weight: bold;
  color: black;
  margin-top: 32px;
}

.reviews__switcher {
  display: flex;
  justify-content: center;
  margin-top: 27px;
}

.reviews__switcher-item {
  margin-right: 11px;
}

.reviews__text {
  line-height: 1.2;
}

.interactive-avatar {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
  border: 6px solid transparent;
}

.interactive-avatar--active {
  border: 6px solid #0f5a47;
}

.interactive-avatar__link {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: block;
}

.interactive-avatar__img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.order-section {
  background: url("../img/decor/blueberries.png") left bottom 40px no-repeat, url("../img/decor/leaf_delivery.png") right bottom 40px no-repeat, url("../img/bg/bg_delivery.png");
  height: 100vh;
  min-height: 650px;
}

.order-title {
  color: #365a49;
  margin-bottom: 54px;
}

.form {
  display: flex;
}

.form__col {
  flex: 1;
  margin-right: 20px;
}
.form__col:last-child {
  margin-right: 0;
}

.form__row {
  display: flex;
  margin-bottom: 18px;
}

.form__block {
  flex: 1;
  margin-right: 20px;
}
.form__block:last-child {
  margin-right: 0px;
}

.form__input {
  width: 100%;
  border: none;
  padding: 18px 11px;
  border: solid 3px transparent;
}
.form__input--textarea {
  height: 180px;
  resize: none;
}
.form__input:focus {
  border-color: #dee2bd;
  outline: none;
}

.form__controls {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 13px;
}
.form__controls:last-child {
  margin-bottom: 0;
}

.form__btns {
  margin-top: 42px;
}

.radio {
  display: flex;
  cursor: pointer;
  -webkit-user-select: none;
          user-select: none;
  margin-right: 23px;
}
.radio:last-child {
  margin-right: 0;
}
.radio--checkbox .radio__visible {
  border-radius: 0;
}
.radio--checkbox .radio__visible::before {
  background: url("../img/icons/click.png") center center no-repeat;
}

.radio__elem {
  display: none;
}
.radio__elem:checked ~ .radio__visible:before {
  display: block;
}

.radio__visible {
  width: 26px;
  height: 26px;
  position: relative;
  border-radius: 50%;
  background: #fff;
}
.radio__visible:before {
  content: "";
  width: 14px;
  height: 14px;
  background: #365a49;
  border-radius: 50%;
  position: absolute;
  display: none;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.radio__title {
  margin-left: 10px;
}

.fixed-menu {
  position: fixed;
  top: 20%;
  right: 3%;
  z-index: 100;
}

.fixed-menu__item {
  margin-bottom: 5px;
}
.fixed-menu__item--active .fixed-menu__link {
  border-color: #fff;
}

.fixed-menu__link {
  display: block;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  position: relative;
  border: 1px solid transparent;
}
.fixed-menu__link:before {
  content: "";
  width: 6px;
  height: 6px;
  background: #fff;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}