.benefit{
    text-align:center;

    @include phones{
        text-align: start;
    }
}

.benefit__image-wrapper{
    display:inline-block;
    width: rem(126px);
    height: rem(126px);
    position: relative;
    background: #f2f5f4;
    border-radius: 50%;
    overflow: hidden;
}

.benefit-icon{
    width:rem(75px);
    height:rem(69px);
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);//?
}

.benefit__image{
    margin-bottom:rem(35px);
}

.benefit__title{
    color: #000000;
    font-size: rem(27px);
    font-weight: 700;
    margin-bottom: rem(30px);

    @include phones{
        margin-bottom: rem(5px);
    }
}


.benefit__text{
    @include phones{
        padding-right: 11%;
        margin-left: rem(14px);
    }
}