.contacts{
    display: flex;
    justify-content: space-between;
    margin-top: rem(26px);

    @include phones{
        flex-direction: column;
        align-items: center;
    }
}

.address{
    font-size: rem(21px);
    columns: #000000;
}

.phone-number--theme--green{
    color: $darkGreen;
}

.phone-number__icon-elem--theme--green{
    fill: $darkGreen;
}

.footer__phone-number{
    @include phones{
        padding: 0 18%;
    }
}