.info__calories{
    margin-right: rem(55px);

    &:last-child{
        margin-right: 0;
    }
}

.info__title{
    margin-bottom: rem(7px);
}

.info__quantity{
    font-size: rem(18px);
    font-weight: 700;
    color: #000000;
}