.info{
    height: 0;
    overflow: hidden;
    transition: height 0.5s;
    text-align: center;

    &__position{
        color: #2a2323;
        font-size: rem(18px);
        font-weight: 400;
    }
    &__desc{
        color: #666666;
        font-size: rem(18px);
        font-weight: 300;
        margin-bottom: 15px;
    }

    // @include tablets{
    //     &:before{
    //         content: '';
    //         display: flex;
    //         background: url('../img/decor/mila_tablets.png') center center / contain no-repeat;
    //         height: 200px;
    //         margin-bottom: rem(24px);
    //     }
    // }
}

// .info__boris{
//     @include tablets{
//         &:before{
//             content: '';
//             display: flex;
//             background: url('../img/decor/boris_tablets.png') center center / contain no-repeat;
//             height: 200px;
//             margin-bottom: rem(24px);
//         }
//     }
// }
// .info__alla{
//     @include tablets{
//         &:before{
//             content: '';
//             display: flex;
//             background: url('../img/decor/alla_tablet.png') center center / contain no-repeat;
//             height: 200px;
//             margin-bottom: rem(24px);
//         }
//     }
// }
// .info__kirill{
//     @include tablets{
//         &:before{
//             content: '';
//             display: flex;
//             background: url('../img/decor/kirill_tablets.png') center center / contain no-repeat;
//             height: 200px;
//             margin-bottom: rem(24px);
//         }
//     }
// }
// .info__mila{
//     @include tablets{
//         &:before{
//             content: '';
//             display: flex;
//             background: url('../img/decor/mila_tablets.png') center center / contain no-repeat;
//             height: 200px;
//             margin-bottom: rem(24px);
//         }
//     }
// }

.info__img{
    display: none;

    @include tablets{
        display: block;
        margin-bottom: 23px;
    }
}

.team-accordion--active{
   
   .team__name-link{
    color: $darkGreen;

    &::after{
        transform: rotate(-180deg);
    }
 }

}
