.modal{
    position: fixed;
    top:0;
    width: 100%;
    height: 100vh;
    background: #353739;
    z-index: 200;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.99;
}

.modal__content{
    padding: 0 5%;
    height: rem(172px);
    background: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.hide{
    display: none;
}

.modal__btn{
    cursor: pointer;
}