.reviews__section{
    position: relative;

    &:before{
        content: url("./img/decor/berries_leafs2.png");
        position: absolute;
        bottom:rem(-243px);
        left:0;
        z-index: $z-decor-elem;
    }

    &:after{
        content: url("./img/decor/strawberry.png");
        position:absolute;
        top: rem(72px);
        right: rem(137px);
    }

    @include tablets {
        &:before{
            bottom: rem(-156px);
            left: rem(-28px);
        }

        &:after{
            top: 0;
            right: rem(-30px);
        }
    }
}

.reviews{
    position: relative;
    // background: url("../img/decor/bg_pattern_phones.png") top right no-repeat;

    &:after{
        content: url("./img/decor/bg_pattern_phones.png");
        position: absolute;
        top:0;
        right:0;
    }
}

.reviews__list{
    position: relative;
    min-height: 280px;
}

.reviews__display{
    position: absolute;
    top: 0;
    left:0;
    bottom: 0;
    right: 0;
    opacity: 0;
    background: #f8faf9;
    padding: rem(50px) rem(45px) rem(34px);
    transition: 0.3s;

    &-active{
        opacity: 1;
        position: static;
    }

    &:before{
        content:"";
        width: rem(90px);
        height: rem(90px);
        border-radius: 50%;
        display: block;
        background: #fff;
        position: absolute;
        top:rem(-65px);//??
        left: 50%;
        transform: translateX(-50%);//??
    }
}

.reviews__display-inner{
    display: flex;

    @include tablets{
        flex-direction: column;
        align-items: center;
    }
}

.reviews__avatar{
    width: rem(245px);
    height: rem(260px);

    @include tablets{
        display:none;
    }
}

.reviews__avatar-img{
    height: 100%;
    width: 100%;
    object-fit: cover;// что значит?

   
}

.reviews__content{
    flex: 1;
    margin-left: rem(20px);
    padding-right: rem(140px);

    @include tablets{
        margin-left: 0;
        padding-right: 0;
        text-align: center;
        align-items: center;
        display: flex;
        flex-direction: column;

        // &:before{
        //     content: url("../img/decor/orrange_girl_tablets.png");
        // }
        
    }
}

.reviews__content-img{
    display: none;
     
    @include tablets {
        display: block;
        margin-bottom: rem(20px);
    }
}

.reviews__title{
    font-size: rem(30px);
    font-weight: bold;
    margin-bottom: rem(22px);
    color:black;
}

.reviews__author{
    font-size: rem(18px);
    font-weight: bold;
    color: black;
    margin-top: rem(32px);
}

.reviews__switcher{
    display: flex;
    justify-content: center;
    margin-top: rem(27px);
}

.reviews__switcher-item{
    margin-right: rem(11px);
}

.reviews__text{
    line-height:1.2;

    @include phones{
        padding: 0 5%;
    }
}