.slider-section{
    background-color: #f8faf9;
}

.arrow__left{
    margin-right: rem(9px);
}
.arrow__left-icon{
    width: rem(13px);
    height: rem(28px);
    transform: rotate(180deg);
    fill: #151515;
    cursor: pointer;
}

.arrow__right-icon{
    width: rem(13px);
    height: rem(28px);
    fill: #151515;
    cursor: pointer;
}

.arrow__right{

    @include tablets{
    position: relative;
    bottom: 14%;
    right: 18%;
    }

    @include phones{
        right: 0;
    }
}

.arrow__left{

    @include tablets{
        position: relative;
        bottom: 14%;
        left: 21%;
        margin: 0;
    }

    @include phones{
        left:0;
    }
}

