.benefits-section{
    position:relative;
    background: url("../img/decor/leaf-white.png") no-repeat left top 57%;

    @include tablets {
        background-position: left top 6%;
    }

    @include phones{
        background: none;

        &:before{
            display: none;
        }
    }


    &:before{
        position: absolute;
        left:0;
        bottom:rem(-120px);
        content: url("../img/decor/raspberry.png");
    }
}