.btn{
    padding: rem(24px) rem(34px) rem(22px) rem(35px);
    font-size: rem(19px);
    font-weight: bold;
    text-transform: uppercase;
    border-radius: rem(100px);
    text-decoration: none;
    line-height: 1;
    border:none;
    display:inline-flex;

    &-theme-white{
        background: #fff;
        color: $darkGreen;

    &:hover{
        background: $darkGreen;
        color: #fff; 
        }
    }

    
    &-theme-green{
        background: $darkGreen;
        color: #fff;
    
    &:hover{
        background: #fff;
        color: $darkGreen; 
        }
    }
    
    &-theme-transparent{
        background: transparent;
        color: #000;
        text-transform: none;

    &:hover{
        color: $darkGreen; 
        background: transparent;
        }    
    }
}