.drop-down{
    width: rem(270px);
    position: absolute;
    background: white;
    top: 0;
    left: 139%;
    opacity: 0.9;
    display: none;
}

.drop-down-icon{
    width: rem(30px);
    height: rem(35px);
    margin-right: rem(31px);
}

.drop-down__item{
    display: flex;
    color: #000000;
    align-items: center;
    margin-bottom: rem(12px);

    &:last-child{
        margin-bottom: 0;
    }
}

.drop-down__text, .drop-down__weight{
    font-size: rem(16px);
    font-weight: 500;
    line-height: 24px;
}

.drop-down__text{
    width: 62%;
}

.drop-down-container{
    width: 81%;
    max-width: 220px;
    margin: 0 auto;
    padding-top: rem(26px);
    padding-bottom: rem(26px);
}