.interactive-avatar{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    overflow: hidden;//что это значит
    position:relative;
    border:6px solid transparent;
}

.interactive-avatar--active{
    border:6px solid #0f5a47;
}

.interactive-avatar__link{
    position: absolute;
    top:0;
    right:0;
    left:0;
    bottom:0;
    display: block;
}

.interactive-avatar__img{
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}