.map{
    background: url("../img/bg/map.png") center center / 100% 100% no-repeat;
    height: 87%;


    @include tablets {
        background: url("../img/bg/map.png") 100% 100% no-repeat;
        height: 63%;
    }

    @include phones {
        height: 80%;
    }
}