.order-section{
    background: url("../img/decor/blueberries.png") left bottom rem(40px) no-repeat,
    url("../img/decor/leaf_delivery.png") right bottom rem(40px) no-repeat,
    url("../img/bg/bg_delivery.png");
    height: 100vh;
    min-height: rem(650px);
}

.order-title{
    color: $darkGreen;
    margin-bottom: rem(54px);
}