.price{
    display: flex;
    align-items: center;
    margin-right: rem(31px);
}

.price__number{
    color: #151515;
    font-size:  rem(60px);
    font-weight: 300;
    line-height: rem(60px);
    text-transform: uppercase;
    margin-right: rem(15px);
}

.price-icon{
    width: rem(24px);
    height: rem(32px);
    fill: #151515;
}